<h1>LOCALES</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Direccion</th>
    <th>Distrito</th>
    <th>Telf fijo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @locals.each do |local| %>
  <tr>
    <td><%= local.nombre %></td>
    <td><%= local.direccion %></td>
    <td><%= local.distrito %></td>
    <td><%= local.telf_fijo %></td>
    <td><%= link_to 'Mostrar', local %></td>
    
  </tr>
<% end %>
<a href='admin/login' target='_self'>Registrar Local</a>
</table>

<br />


