<h1>Lista de TWEETS</h1>
<%= form_for(@tweet, :url => "user") do |f| %>
  <div class="field">
    <%= f.label "Ingrese Usuario Twitter" %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit "Buscar" %>
  </div>
<% end %>

<%= form_for(@tweet, :url => "update") do |f| %>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar Mensaje" %>
  </div>
<% end %>

