<h1>TORNEOS</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Cant part</th>
    <th>Local</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torneos.each do |torneo| %>
  <tr>
    <td><%= torneo.nombre %></td>
    <td><%= torneo.cant_part %></td>
    <td><%= torneo.local.nombre %></td>
    <td><%= torneo.fecha %></td>
    <td><%= torneo.hora %></td>
    <td><%= link_to 'Mostrar', torneo %></td>
    
  </tr>
<% end %>
<a href='admin/login' target='_self'>Registrar Torneo</a>

</table>

<br />





