<h1>Listing torneos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Cant part</th>
    <th>Local</th>
    <th>Fecha</th>
    <th>Hora</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @torneos.each do |torneo| %>
  <tr>
    <td><%= torneo.nombre %></td>
    <td><%= torneo.cant_part %></td>
    <td><%= torneo.local.nombre %></td>
    <td><%= torneo.fecha %></td>
    <td><%= torneo.hora %></td>
    <td><%= link_to 'Show', torneo %></td>
    <td><%= link_to 'Edit', edit_torneo_path(torneo) %></td>
    <td><%= link_to 'Destroy', torneo, confirm: 'Estas seguro de Eliminar?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

[<a href="https://twitter.com/intent/tweet?button_hashtag=TwitterTorneo&text=My%20story%20is%20about%20what's%20happening%20today" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta">Tweet #TwitterTorneo</a>]
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<%= link_to 'New Torneo', new_torneo_path %>
