<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @torneo.nombre %>
</p>

<p>
  <b>Cant part:</b>
  <%= @torneo.cant_part %>
</p>

<p>
  <b>Fecha:</b>
  <%= @torneo.fecha %>
</p>

<p>
  <b>Hora:</b>
  <%= @torneo.hora %>
</p>


<!--<%= link_to 'Edit', edit_torneo_path(@torneo) %>--> |
<%= link_to 'Back', torneos_path %>
<br />
<br />
[<a href="https://twitter.com/intent/tweet?button_hashtag=TwitterTorneo&text=My%20story%20is%20about%20what's%20happening%20today" class="twitter-hashtag-button" data-lang="en" data-related="jasoncosta">Tweet #TwitterTorneo</a>]
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


