<%= simple_form_for(@participante) do |f| %>
   <%= f.error_notification %>

  <div class="field">
    <%= f.input :nombre %><br />
    
  </div>
  <div class="field">
    <%= f.input :ap_paterno %><br />
    
  </div>
  <div class="field">
    <%= f.input :ap_manterno %><br />
    
  </div>
  <div class="field">
Sexo
 <%= f.select :sexo, options_for_select([["Masculino", "Masculino"], ["Femenino", "Femenino"]]) %>
    
  </div><br />
  <div class="field">
Tipo de Documento
 <%= f.select :tipo_doc, options_for_select([["DNI", "DNI"], ["Pasaporte", "Pasaporte"]]) %>
    
  </div><br />
  

    
  
  <div class="field">
    <%= f.input :num_doc %><br />
    
  </div>
  <div class="field">
    <%= f.input :direccion %><br />
    
  </div>
  <div class="field">
    <%= f.input :distrito %><br />
    
  </div>
  <div class="field">
    <%= f.input :correo %><br />
    
  </div>
  <div class="field">
    <%= f.input :fec_nac %><br />
    
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
